{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <a href="{% url 'reviews:create' %}" class="btn btn-light">리뷰 작성</a>
  <div class="container mt-5">
    {% for review in reviews %}
      <div class="mt-3">
        <a href="{% url 'reviews:detail' review.pk %}">{{ review.content }}</a>
        {% if review.comments %}
          <span>[{{ review.comments.count }}]</span>
        {% endif %}
        <small>
          <a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a>
        </small>
        {% if review.created_string == False %}
          <small class="text-muted">{{ review.created_at|date:'m월 d일' }}</small>
        {% else %}
          <small class="text-muted">{{ review.created_string }}</small>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}