{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h3 class="mt-5">{{ article.title }}</h3>
  <p>{{ article.user.username }}
    <small class="text-muted">{{ article.created_at }}</small>
  </p>
  <p class="mt-5">{{ article.content }}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}">
  {% endif %}
  {% if request.user == article.user %}
    <div class="d-flex justify-content-end">
      <a href="{% url 'articles:update' article.pk %}" class="btn btn-light">수정</a>
      <form action="{% url 'articles:delete'  article.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">삭제</button>
      </form>
    </div>
  {% endif %}

{% endblock content %}