{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for article in articles %}
      <div class="col-md-auto">
        <a href="{% url 'information:detail' article.pk %}">
          <div class="card text-center mt-3">
            <div class="card-header">
              Featured
            </div>
            <div class="thumb">
              {% if article.thumbnail %}
                <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.image }}">
              {% else %}
                <img src="https://dummyimage.com/600x400/fff/fff" alt="image">
              {% endif %}
            </div>
            <div class="card-body">
              <p>{{ article.summary }}...</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
